<div class="row tm-about-row">
    <div class="card-deck">
        <div class="card">
            <img src="img/jp.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div id="dbad">
                    <p id="badge"><b>BRICS YOUNG INNOVATOR PRIZE 2018</b></p>
                </div>
                <h5 class="card-title">Aluna do Campus Cabedelo disputa prêmio internacional de jovens cientistas
                </h5>
                <p class="card-text">Um aplicativo criado pela estudante do curso superior de Design Gráfico do IFPB no
                    Campus Cabedelo
                    está disputando o prêmio BRICS Young Innovator Prize 2018. O projeto Nina, criado por Simony
                    César, rastreia casos de assédio em transporte público.</p>
                <button type="button" class="btn btn-outline-success" onclick="brics();">Ler mais</button>
            </div>
        </div>
        <div class="card">
            <img src="img/henrique.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div id="dbad">
                    <p id="badge"><b>JAGIELLONIAN UNIVERSITY</b></p>
                </div>
                <h5 class="card-title">Ex-aluno do IFPB vai estudar na Polônia para se tornar o primeiro universitário
                    da família</h5>
                <p class="card-text">Com o sonho de ser o primeiro de sua família a conquistar uma graduação, o
                    paraibano Henrique Lima,
                    é aprovado na Jagiellonian University, na Polônia.</p>
                <button type="button" class="btn btn-outline-success" onclick="polonia();">Ler mais</button>
            </div>
        </div>
        <div class="card">
            <img src="img/engenharia.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div id="dbad">
                    <p id="badge"><b>THE 6th INTERNATIONAL CONFERENCE ON MANUFACTURING ENGINEERING AND
                            PROCESS</b></p>
                </div>
                <h5 class="card-title">Aluno do IFPB representará o Brasil em Congresso Internacional de Engenharia
                </h5>
                <p class="card-text">Uma pesquisa desenvolvida no IFPB Campus Cajazeiras será a única representante do
                    Brasil em um dos
                    principais congressos de Engenharia da Europa.</p>
                <button type="button" class="btn btn-outline-success" onclick="engenharia();">Ler mais</button>
            </div>
        </div>


    </div>

</div>
<div class="row tm-about-row">
    <div class="card-deck">
        <div class="card">
            <img src="img/google.jpg" class="card-img-top">
            <div class="card-body">
                <div id="dbad">
                    <p id="badge"><b>MARATONA DE APLICATIVOS FIAP 2015</b></p>
                </div>
                <h5 class="card-title">Aplicativo criado por estudantes de Campina é selecionado em concurso nacional
                </h5>

                <p class="card-text">O aplicativo ficou entre os 10 melhores nacionalmente e foi o único representando
                    Norte e Nordeste.</p>
                <button type="button" class="btn btn-outline-success" onclick="maratona();">Ler mais</button>
            </div>
        </div>

        <div class="card">
            <img src="img/ordan.jpg" class="card-img-top">
            <div class="card-body">
                <div id="dbad">
                    <p id="badge"><b>IOI - OLIMPÍADA INTERNACIONAL DE INFORMÁTICA</b></p>
                </div>
                <h5 class="card-title">Estudante do IFPB disputará vaga em seletiva internacional de informática
                </h5>

                <p class="card-text">Ordan Santos, ex-aluno do curso técnico integrado em Informática - campus Campina
                    Grande, conquistou
                    uma vaga na seletiva da Olimpíada Internacional de Informática (IOI) em 2014, ao ficar entre
                    os primeiros colocados na Olimpíada Brasileira de Informática (OBI).</p>
                <button type="button" class="btn btn-outline-success" onclick="ioi();">Ler mais</button>
            </div>
        </div>

        <div class="card">
            <img src="img/aluna.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div id="dbad">
                    <p id="badge"><b>INTEL EXCELLENCE IN COMPUTER SCIENCE AWARD</b></p>
                </div>
                <h5 class="card-title">Aluna do IFPB conquista prêmio internacional em feira de tecnologia</h5>
                <p class="card-text">Uma estudante de Campina Grande ganhou um prêmio internacional de tecnologia, ao
                    criar um aplicativo
                    capaz de agilizar a triagem médica de pacientes.</p>
                <button type="button" class="btn btn-outline-success" onclick="intel();">Ler mais</button>
            </div>
        </div>
    </div>
    <div class="row tm-about-row">
        <div class="card-deck">
            <div class="card">
                <img src="img/zoropa.jpeg" class="card-img-top">
                <div class="card-body">
                    <div id="dbad">
                        <p id="badge"><b>INTECÂMBIO NA EUROPA </b></p>
                    </div>
                    <h5 class="card-title">Estudante do IF Goiano Campus Iporá embarca para intercâmbio na Europa</h5>

                    <p class="card-text">“Sou filha de produtores rurais e não é fácil disponibilizar recursos pra uma
                        viagem desta antes de colhermos a lavoura, no campo tudo tem sua hora. Estou muito grata ao IF e
                        a minha família que estão me incentivando para que eu possa realizar este sonho e exercer esta
                        profissão que amo!”, explicou Thaís.</p>
                    <button type="button" class="btn btn-outline-success" onclick="ifgo();">Ler mais</button>
                </div>
            </div>

            <div class="card">
                <img src="img/UNITEDS.JPG" class="card-img-top">
                <div class="card-body">
                    <div id="dbad">
                        <p id="badge"><b>ESTÁGIO NOS ESTADOS UNIDOS</b></p>
                    </div>
                    <h5 class="card-title">Estudantes do IF Sertão-PE partem para os Estados Unidos para estágio em
                        empresa importadora de frutas
                    </h5>

                    <p class="card-text">Os estudantes Antônio Erikles, Evandro Rodrigues, Mikaela Souza, Ramon
                        Rodrigues e Filipe Carvalho chegaram na manhã desta sexta-feira (21) aos Estados Unidos, onde
                        realizam estágio de dois anos na empresa norte-americana Amazon Produce Network</p>
                    <button type="button" class="btn btn-outline-success" onclick="ifpe();">Ler mais</button>
                </div>
            </div>

            <div class="card">
                <img src="img/EMBAIXADOR.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div id="dbad">
                        <p id="badge"><b>JOVEM EMBAIXADOR</b></p>
                    </div>
                    <h5 class="card-title">IF Sudeste MG recebe novos intercambistas e envia aluno “jovem embaixador”
                        aos EUA</h5>
                    <p class="card-text">O estudante do terceiro ano do curso Técnico Integrado em Informática, do
                        Câmpus Juiz de Fora, faz uma parada em Brasília (DF), para reuniões na sede da Embaixada
                        Americana no Brasil, e também para emitir o visto de entrada nos Estados Unidos, deslocando-se,
                        em seguida, para o estado de Nevada, nos EUA.</p>
                    <button type="button" class="btn btn-outline-success" onclick="ifmg();">Ler mais</button>
                </div>
            </div>
        </div>
    </div>
</div>
