<div class="row tm-services-row-2">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 tm-services-col">
        <div class="tm-about-box-3 tm-services-box-3 tm-green-bordered">
            <h2 class="tm-services-title tm-green-text"> Bruno Enedino</h2>
            <p class="tm-about-description-3"><em>“O IFPB não era a minha primeira opção, mas quando
                    cheguei aqui, pela forma com que os professores nos tratam, pelas amizades que fiz,
                    pelas experiências incríveis que vivi no PET (Programa de Educação Tutorial), seja
                    em congresso ou apresentações, fui gostando muito. O Instituto foi essencial para me
                    ensinar a me portar de forma profissional.”</em>
            </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 tm-services-col">
        <div class="tm-about-box-3 tm-services-box-3 tm-green-bg">
            <h2 class="tm-services-title tm-yellow-text">Jessica Aguiar</h2>
            <p class="tm-about-description-3"><em>“A escola integral é completamente diferente da escola
                    regular. É você se reconstruir por completo, ter a coragem de deixar para trás aquilo que
                    fazia e começar do zero. Esse modelo me dá a sensação de que eu estou no caminho certo e de
                    poder aplicar melhor tudo o que eu realmente acredito”</em></p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 tm-services-col">
        <div class="tm-about-box-3 tm-services-box-3 tm-gray-bordered">
            <h2 class="tm-services-title tm-green-text">Letícia Verissimo Adão da Silva, 16 anos</h2>
            <p class="tm-about-description-3 tm-black-text"><em>"Já fui aluna do IFPB e mal posso explicar todas
                    as coisas maravilhosas que aprendi, que convivi e que hoje levo comigo. Tive experiências
                    que nunca imaginei, oportunidades que muitos queriam ter, sem contar o apoio e o carinho de
                    todos da instituição que sempre estavam ali pra me animar quando tava difícil de suportar.
                    Não é uma simples instituição, virou a nossa casa. Não é só um estudo integral, é uma
                    convivência única que nos faz pessoas melhores. Por isso luto por essa causa mesmo sem
                    continuar na instituição." </em></p>
            <p class="tm-about-description-3 tm-green-text">#tira_a_mão_do_meu_IF!
            </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 tm-services-col">
        </br>
        <div class="tm-about-box-3 tm-services-box-3 tm-red-bordered">
            <h2 class="tm-services-title tm-red-text">Como enviar seu depoimento?</h2>
            <p class="tm-about-description-3 tm-black-text"><em>Pode ser em vídeo (máximo 2min) ou texto, comece
                    informando seu nome, idade e campus, depois fale da importância do IF em sua vida e porque
                    essa instituição é tão importante para a sociedade.
                    Você também pode participar mandando uma foto ou vídeo de seu projeto de pesquisa ou
                    extensão e um texto explicando a importância dele, o que fazem, etc. Vamos divulgar nossa
                    pesquisa para a população!! <br> <b>(Envios via e-mail: oqueoiffazpornos@gmail.com)</b></em>
            </p>
        </div>
    </div>
</div>
