<div class="row ">
    <center><button type="button" class="btn btn-danger space" data-toggle="modal" data-target="#como">
            Como enviar
        </button></center>
    <center>
        <h2 class="space tm-green-text tm-services-title">Em forma de vídeo</h2>
    </center>
    <div class="card-deck">
        <div class="card text-white bg-dark mb-3" style="max-width: 370px; max-height: 330px;">
            <div class="card-header">MARCELO SIQUEIRA</div>
            <div class="">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/eAzG5eI_xEg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3" style="max-width: 370px; max-height: 330px;">
            <div class="card-header">ELLEM KAMILLY</div>
            <div class="">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/qdou-9fHEBE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<center>
    <h2 class="space tm-green-text tm-services-title">Escrito</h2>
</center>

<div class="row tm-services-row-2">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 tm-services-col">
        <div class="tm-about-box-3 tm-services-box-3 tm-green-bg">
            <h2 class="tm-services-title tm-yellow-text">Débora Queiroz</h2>

            <p class="tm-about-description-3 "><em>"Fui aluna do IFPB, campus Campina Grande, de 2015.1 a
                    2017.2. O IFPB me proporcionou uma experiência de amadurecimento em todos os âmbitos. Pude
                    desenvolver meu processo de escrita e as produções de pesquisas e artigos, o que jamais
                    teria oportunidade de fazer em uma escola particular ou pública de ensino médio. Além disso,
                    saí do Instituto com um currículo lattes brilhante para uma concluinte de ensino médio,
                    repleto de participações em eventos produzidos pelo próprio IF que me trouxeram enorme
                    conhecimento. E desejo que muitos outros jovens tenham a mesma oportunidade de estudar nesse
                    lugar, assim como eu tive."</em>
                <center><button type="button" class="btn btn-success space" data-toggle="modal" data-target="#Debora">
                    ver Fotos
                </button></center>
            </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 tm-services-col">
        <div class="tm-about-box-3 tm-services-box-3 tm-green-bordered">
            <h2 class="tm-services-title tm-green-text">Letícia Verissimo Adão da Silva, 16 anos</h2>
            <p class="tm-about-description-3 tm-black-text"><em>"Já fui aluna do IFPB e mal posso explicar todas
                    as coisas maravilhosas que aprendi, que convivi e que hoje levo comigo. Tive experiências
                    que nunca imaginei, oportunidades que muitos queriam ter, sem contar o apoio e o carinho de
                    todos da instituição que sempre estavam ali pra me animar quando tava difícil de suportar.
                    Não é uma simples instituição, virou a nossa casa. Não é só um estudo integral, é uma
                    convivência única que nos faz pessoas melhores. Por isso luto por essa causa mesmo sem
                    continuar na instituição." </em></p>
            <p class="tm-about-description-3 tm-green-text">#tira_a_mão_do_meu_IF!
            </p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 tm-services-col">
        <div class="tm-about-box-3 tm-services-box-3 tm-green-bg">
            <h2 class="tm-services-title tm-yellow-text">Jessica Aguiar</h2>
            <p class="tm-about-description-3"><em>“A escola integral é completamente diferente da escola
                    regular. É você se reconstruir por completo, ter a coragem de deixar para trás aquilo que
                    fazia e começar do zero. Esse modelo me dá a sensação de que eu estou no caminho certo e de
                    poder aplicar melhor tudo o que eu realmente acredito”</em></p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 tm-services-col"><br>
        <div class="tm-about-box-3 tm-services-box-3 tm-green-bordered">
            <h2 class="tm-services-title tm-green-text"> Bruno Enedino</h2>
            <p class="tm-about-description-3"><em>“O IFPB não era a minha primeira opção, mas quando
                    cheguei aqui, pela forma com que os professores nos tratam, pelas amizades que fiz,
                    pelas experiências incríveis que vivi no PET (Programa de Educação Tutorial), seja
                    em congresso ou apresentações, fui gostando muito. O Instituto foi essencial para me
                    ensinar a me portar de forma profissional.”</em>
            </p>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="como" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Como enviar seu depoimento?</h5>
            </div>
            <div class="modal-body">
                Pode ser em vídeo (máximo 2min) ou texto, comece
                informando seu nome, idade e campus, depois fale da importância do IF em sua vida e porque
                essa instituição é tão importante para a sociedade.
                Você também pode participar mandando uma foto ou vídeo de seu projeto de pesquisa ou
                extensão e um texto explicando a importância dele, o que fazem, etc. Vamos divulgar nossa
                pesquisa para a população!! <br> <b>(Envios via GitHub ou e-mail: oqueoiffazpornos@gmail.com)</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Debora" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Fotos</h5>
            </div>
            <div class="modal-body">
                As fotos são referentes ao IYPT - International Young Physics Tournament, uma olimpíada
                internacional de
                física que eu e mais 3 alunos do IF fomos finalistas, chegando a ir apresentar nossos trabalhos em
                São
                Paulo, em 2016, ainda no 1º ano do ensino médio.
                Os alunos foram: Débora Queiroz, Márcia Thaís, Kallyanne Miranda e Caio Daudt. Com os professores
                Valdenes e Cláudia, de física e química, respectivamente.
            </div>
            <div>
                <a href="../img/deb1.jpg">
                    <img src="../img/deb1.jpg" alt="Image" class="img-fluid tm-header-img">
                </a>
                <a href="../img/deb2.jpg">
                    <img src="../img/deb2.jpg" alt="Image" class="img-fluid tm-header-img">
                </a>
                <a href="../img/deb3.jpg">
                    <img src="../img/deb3.jpg" alt="Image" class="img-fluid tm-header-img">
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
