<div class="row">
    <div class="col-lg-12">
        <nav class="navbar">

            <div id="tmNavbar">
                <div class="nav navbar-nav tm-nav">

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0 tm-nav-item-pair">
                        <div class="nav-item active">
                            <a class="nav-link" href="index.html">Home</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="alunos.html">Alunos</a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0 tm-nav-item-pair">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item">
                            <a class="nav-link" href="conquistas.html">Conquistas</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item">
                            <a class="nav-link" href="midia.html">Mídia</a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0 tm-nav-item-pair">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item">
                            <a class="nav-link" href="depoimentos.html">Depoimentos</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item">
                            <a class="nav-link" href="sobre.html">Sobre</a>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </div>

</div>