<div class="row space">
    <center>
        <h2 class="tm-green-text tm-services-title">Galeria</h2>
    </center>
    <div class="col-lg-12 space">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="tm-header-img carousel-item active ">
                    <section class="tm-footer-gallery">

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                            <a href="img/restaurante.jpg" class="bord">
                                <img src="img/restaurante.jpg" alt="Image2"
                                    class="img-fluid tm-header-img2 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 tm-pad-0">
                            </a>
                            <a href="img/formatura.jpg" class="bord">
                                <img src="img/formatura.jpg" alt="Image2"
                                    class="img-fluid tm-header-img2 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 tm-pad-0">
                            </a>
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                            <a href="img/ieee.jpeg" class="bord">
                                <img src="img/ieee.jpeg" alt="Image2"
                                    class="img-fluid tm-header-img2 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 tm-pad-0">
                            </a>
                            <a href="img/laboratorio.jpeg" class="bord">
                                <img src="img/laboratorio.jpeg" alt="Image2"
                                    class="img-fluid tm-header-img2 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                            <a href="img/palestra.jpg" class="bord">
                                <img src="img/palestra.jpg" alt="Image2"
                                    class="img-fluid tm-header-img2 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                            </a>
                            <a href="img/preservacao.JPG" class="bord">
                                <img src="img/preservacao.JPG" alt="Image2"
                                    class="img-fluid tm-header-img2 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                            </a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <center>
            <h2 class="space tm-green-text tm-services-title">Videos</h2>
        </center>
        <div class="card-deck ">
            <div class="card text-white bg-dark mb-3" style="max-width: 370px; max-height: 330px;">
                <div class="card-header">Tecno Pop | Episódio 5 </div>
                <div class="">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/A2VvRhGu7hg" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3" style="max-width: 370px; max-height: 330px;">
                <div class="card-header"> CURSO TÉCNICO EM INFORMÁTICA</div>
                <div class="">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/1oltIOo08sI" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3" style="max-width: 370px; max-height: 330px;">
                <div class="card-header">Arte marcial na escola e inclusão social</div>
                <div class="">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/NAYeJGXzO5Q" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="card-deck">
            <div class="card text-white bg-dark mb-3" style="max-width: 370px; max-height: 330px;">
                <div class="card-header">CURSO SUPERIOR DE TECNOLOGIA EM GESTÃO AMBIENTAL</div>
                <div class="">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/9S04I6HtEV8" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3" style="max-width: 370px; max-height: 330px;">
                <div class="card-header">CURSO TECNÓLOGO CONSTRUÇÃO DE EDIFÍCIOS</div>
                <div class="">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/1Ro8Fyt1RCk" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3" style="max-width: 370px; max-height: 330px;">
                <div class="card-header">CURSO TÉCNICO EM PETRÓLEO E GÁS<br><br></div>
                <div class="">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/S0-EoFzawL8" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card text-white bg-dark mb-3" style="max-width: 370px; max-height: 330px;">
                <div class="card-header">CURSO TÉCNICO EM MINERAÇÃO</div>
                <div class="">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/OILmn8v01aw" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3" style="max-width: 370px; max-height: 330px;">
                <div class="card-header">CURSO TÉCNICO EM EDIFICAÇÕES</div>
                <div class="">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/hUVMV_lhLeY" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3" style="max-width: 370px; max-height: 330px;">
                <div class="card-header">CURSO TÉCNICO EM QUÍMICA</div>
                <div class="">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/Sp54wMr8FVE" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
