<div class="row space">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="tm-testi">
            <img src="img/ifpba.png" alt="Image" class="img-fluid img-circle tm-testi-img">
            <div class="tm-testi-text-box">
                <p class="tm-testi-text">Diante da situação na qual o nosso país se encontra com o corte de 30% das
                    verba dos Institutos e Universidades
                    Federais, um professor de informática do Instituto Federal campus Campina Grande, tomou a iniciativa
                    juntamente com seus alunos de desenvolver uma plataforma para que possamos lembrar e saber um pouco
                    mais
                    sobre o quanto a nossa Instituição faz por nós. E para quem não faz parte da rede Federal, que possa
                    ter conhecimento do quanto esse lugar é importante para a evolução na educação e vida de todos os
                    estudantes
                    da Instituição. Abrace a nossa causa.
                </p>
            </div>
            <p class="tm-testi-sig">"Quando a educação não é libertadora, o sonho do oprimido é ser o opressor" (Paulo
                Freire)</p>
        </div>
    </div>
</div>
