<div class="row">
    <div class="col-lg-12">
        <section class="tm-header-gallery">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                <a href="img/p1_1.jpeg">
                    <img src="img/p1_1.jpeg" width="1000px" height="500px" alt="Image" class="img-fluid tm-header-img">
                </a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                <a href="img/p1.jpeg">
                    <img src="img/p1.jpeg" alt="Image"
                        class="img-fluid tm-header-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                </a>
                <a href="img/p2.jpeg">
                    <img src="img/p2.jpeg" alt="Image"
                        class="img-fluid tm-header-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                </a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                <a href="img/p2_2.jpeg">
                    <img src="img/p2_2.jpeg" alt="Image" class="img-fluid tm-header-img">
                </a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                <a href="img/p3.jpeg">
                    <img src="img/p3.jpeg" alt="Image"
                        class="img-fluid tm-header-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                </a>
                <a href="img/p4.jpeg">
                    <img src="img/p4.jpeg" alt="Image"
                        class="img-fluid tm-header-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                </a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">

                <!--<div class="tm-site-name">
                            <h1 class="text-uppercase tm-site-name-h1" >O que o IF</h1>
                            <h2 class="tm-site-name-h2">faz por mim</h2>
                        </div> -->

                <img src="img/logo.png" alt="Image" class="img-fluid tm-header-img">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                <a href="img/p5.jpeg">
                    <img src="img/p5.jpeg" alt="Image"
                        class="img-fluid tm-header-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                </a>
                <a href="img/p6.jpeg">
                    <img src="img/p6.jpeg" alt="Image"
                        class="img-fluid tm-header-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                </a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                <a href="img/p3_3.jpeg">
                    <img src="img/p3_3.jpeg" alt="Image" class="img-fluid tm-header-img">
                </a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                <a href="img/p8.jpeg">
                    <img src="img/p8.jpeg" alt="Image"
                        class="img-fluid tm-header-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                </a>
                <a href="img/p9.jpeg">
                    <img src="img/p9.jpeg" alt="Image"
                        class="img-fluid tm-header-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                </a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                <a href="img/p4_4.jpg">
                    <img src="img/p4_4.jpg" alt="Image" class="img-fluid tm-header-img">
                </a>
            </div>
        </section>
    </div>
</div>
