<div class="row">
    <div class="col-lg-12">
        <section class="tm-header-gallery">

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                <a href="img/p1.jpeg">
                    <img src="img/p1.jpeg" alt="Image"
                        class="img-fluid tm-header-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                </a>
                <a href="img/p2.jpeg">
                    <img src="img/p2.jpeg" alt="Image"
                        class="img-fluid tm-header-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                </a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                <img src="img/logo.png" alt="Image" class="img-fluid tm-header-img">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                <a href="img/p8.jpeg">
                    <img src="img/p8.jpeg" alt="Image"
                        class="img-fluid tm-header-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                </a>
                <a href="img/p9.jpeg">
                    <img src="img/p9.jpeg" alt="Image"
                        class="img-fluid tm-header-img col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                </a>
            </div>

        </section>
    </div>
</div>
