<div class="row hico">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="tm-social-icons-container text-xs-center">
            <a href="https://github.com/oqueoiffazpormim/oqueoiffazpormim.github.io" class="tm-social-link"><i
                    class="fa fa-github"></i></a>
            <a href="https://www.instagram.com/iffazpormim/" class="tm-social-link"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/OqoIFfazpormim" class="tm-social-link"><i class="fa fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCbVa8P-w4rg5-GIxwolff5A" class="tm-social-link"><i
                    class="fa fa-youtube"></i></a>
        </div>
    </div>
</div>

<footer class="row tm-footer">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p class="text-xs-center tm-copyright">Alunos do IFPB - Campus Campina Grande | Técnicos em Informática |
            Design: <a href="" target="_parent">3° Informática - Grupo B</a></p>
    </div>
</footer>
