<div class="row tm-about-row">

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">

        <div class="tm-about-box tm-about-box-left">
            <h2 class="tm-about-title">QUEM SOMOS?</h2>
            <p class="tm-about-description">Olá! Somos alunos do 3º ano do curso técnico em informática no IFPB campus
                Campina Grande.</p>
            <p class="tm-about-description">Este site foi desenvolvido pelos alunos na disciplina de Desenvolvimento WEB
                II, com orientação do Professor
                Adriano Santos.</p>
            <p class="tm-about-description tm-highlight-text"><b>O que o IF faz por mim</b> é dedicado à todos os alunos
                de Institutos Federais, com objetivo de demonstrar
                a nossa gratidão por tudo o que o IF faz por nós como alunos e pessoas, sua contribuição para vida e
                carreira
                acadêmica.
            </p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="tm-about-box">
            <h2 class="tm-about-title">DESENVOLVIDO POR</h2>
            <p class="tm-about-description">
                <table>
                    <td>
                        <ul>
                            <li>Prof. Adriano Santos</li>
                            <li>Irlla Martins</li>
                            <li>Isa Cristina</li>
                            <li>Isley Martins</li>
                            <li>Ismael Silva</li>
                            <li>Ismael Rocha</li>
                            <li>Izabel Fernandes</li>
                            <li>João Vitor</li>
                            <li>Joellen Santos</li>
                            <li>José Alberto</li>
                            <li>José Oliveira</li>
                            <li>José Bezerra</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Joyce Grangeiro</li>
                            <li>Juan Gabriel Dias</li>
                            <li>Juan Pablo Barbosa</li>
                            <li>Laura Lucena</li>
                            <li>Luana Liberato</li>
                            <li>Lucas Araújo</li>
                            <li>Luiz Silva</li>
                            <li>Marcus Mota</li>
                            <li>Maria Eduarda Dias</li>
                            <li>Maria Eduarda Marques</li>
                            <li>Maria Heloiza Duarte</li>
                            <li>Mariana Lima</li>
                        </ul>
                    </td>
                </table>

            </p>
        </div>

    </div>
</div>
