<div class="row tm-about-row">

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">

        <div class="tm-about-box tm-about-box-left">
            <h2 class="tm-about-title">QUEM SOMOS?</h2>
            <p class="tm-about-description">Olá! Somos alunos do 3º ano do curso técnico em informática no IFPB campus Campina Grande.</p>
            <p class="tm-about-description">Este site foi desenvolvido pelos alunos na disciplina de Desenvolvimento WEB II, com orientação do Professor
                Adriano Santos.</p>
            <p class="tm-about-description tm-highlight-text"><b>O que o IF faz por mim</b> é dedicado à todos os alunos de Institutos Federais, com objetivo de demonstrar
                a nossa gratidão por tudo o que o IF faz por nós como alunos e pessoas, sua contribuição para vida e carreira
                acadêmica.
            </p>
        </div>

    </div>
</div>